@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All categoríes</span>
                    </div>
                    <ul id="category">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form onSubmit="Search()">
                            <input type="text" placeholder="What do yo u need?" name="search">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="/User/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel" id="categories">
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul id="featured-categories">
                        <li data-filter="*" class="active mixitup-control-active">All</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter" id="category-filter">
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/User/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/User/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel" id="latest-product1">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel" id="latest-product2">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel" id="latest-product3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row" id="blog">
        </div>
    </div>
</section>
<!-- Blog Section End -->


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/api/ACategory/GetAllCategories",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    data.forEach(function (item, index) {
                        let row = `<div class="col-lg-3">
                                                <div class="categories__item set-bg" data-setbg="${item.Image}" style="background-image: url(${item.Image});">
                                                    <h5><a href="/ShoppingGrid/Index?id=${item.Id}">${item.Name}</a></h5>
                                                </div>
                                            </div>`;
                        $('#categories').owlCarousel().trigger('add.owl.carousel', row);
                    });
                    $('#categories').trigger('refresh.owl.carousel');
                },
                error: function (error) {
                    console.log(error);
                },
            });
            $('#categories').carousel();
            $('#categories').trigger('next.owl.carousel', 1);

            //Category
            $.ajax({
                url: "/api/ACategory/GetAllCategories",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#category').append('<li><a href="/ShoppingGrid/Index" class="category">All</a></li>');
                    data.forEach(function (item, index) {
                        let row = `<li><a href="/ShoppingGrid/Index?id=${item.Id}" class="category">${item.Name}</a></li>`;
                        $('#category').append(row);
                    })
                },
                error: function () {
                    console.log(error);
                },
            });
        });
        // blog
        $.ajax({
            url: "/api/ABlog/GetLatestBlogs",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data.forEach(function (item, index) {
                    let row = ` <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="blog__item">
                                                <div class="blog__item__pic">
                                                    <img src="${item.Image}" alt="" style="width: 360px; height: 260px">
                                                </div>
                                                <div class="blog__item__text">
                                                    <ul>
                                                        <li><i class="fa fa-calendar-o"></i>${item.CreatedDate}</li>
                                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                                    </ul>
                                                    <h5><a href="/Blog/Detail?id=${item.Id}">${item.Title}</a></h5>
                                                    <p>${item.Description}</p>
                                                </div>
                                            </div>
                                        </div>`
                    $('#blog').append(row);
                });
            }
        })
        $.ajax({
            url: "/api/AProduct/GetFeaturedProduct",
            type: "GET",
            dataType: "json",
            beforeSend: function () { },
            success: function (data) {
                data.forEach(function (item, index) {
                    let row = `<li data-filter=".${item.CategorySlug}">${item.CategoryName}</li>`;
                    $('#featured-categories').append(row);

                    item.ListProduct.forEach(function (itm, index) {
                        let price = parseFloat(itm.Price).toFixed(2);
                        let r = `<div class="col-lg-3 col-md-4 col-sm-6 mix ${item.CategorySlug}">
                                            <div class="featured__item">
                                                <div class="featured__item__pic set-bg" style="background-image: url(${itm.Avatar})">
                                                    <ul class="featured__item__pic__hover" id="${itm.Id}">
                                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                        <li><a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="featured__item__text">
                                                    <h6><a href="/Product/Index?id=${itm.Id}">${itm.Name}</a></h6>
                                                    <h5>$${price}</h5>
                                                </div>
                                            </div>
                                        </div>`
                        $('#category-filter').append(r);
                    })
                });
            },
            error: function () { },
            complete: function () { }
        });

        //latest product
        $(document).ready(function () {
            $.ajax({
                url: "/api/AProduct/GetLatestProducts",
                type: "GET",
                dataType: "json",
                beforeSend: function () {

                },
                success: function (data) {
                    let row = `<div class="latest-prdouct__slider__item">`

                    data.forEach(function (item, index) {
                        var money = parseFloat(item.Price).toFixed(2);
                        let z = `
                                    <a href="/Product/Index?id=${item.Id}" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="${item.Image}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>${item.Name}</h6>
                                            <span>$${money}</span>
                                        </div>
                                    </a>`;
                        row += z;
                        if (index % 3 == 2) {
                            row += `</div>`;
                            $('#latest-product1').owlCarousel().trigger('add.owl.carousel', row);
                            $('#latest-product2').owlCarousel().trigger('add.owl.carousel', row);
                            $('#latest-product3').owlCarousel().trigger('add.owl.carousel', row);
                            row = `<div class="latest-prdouct__slider__item">`
                        }
                    });
                    if (data.length % 3 != 0) {
                        row += `</div>`;
                        $('#latest-product1').owlCarousel().trigger('add.owl.carousel', row);
                        $('#latest-product2').owlCarousel().trigger('add.owl.carousel', row);
                        $('#latest-product3').owlCarousel().trigger('add.owl.carousel', row);
                    }
                    $('#latest-product1').trigger('refresh.owl.carousel');
                    $('#latest-product2').trigger('refresh.owl.carousel');
                    $('#latest-product3').trigger('refresh.owl.carousel');
                },
                error: function () {

                },
                complete: function () {

                }
            });
            $('#latest-product').carousel();
            $('#latest-product').trigger('next.owl.carousel', 1);
        });
        function Search() {
            event.preventDefault();
            let temp = '/ShoppingGrid/Index?search=' + $('input[name="search"]').val();
            window.location.href = temp;
        };
    </script>
}