@model OganiShop.Models.ProductModel

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/Admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="/Admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="/Admin/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="/Admin/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Admin/dist/css/adminlte.min.css">

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Product">Product</a></li>

                    @if (ViewBag.Id == 0)
                    {
                        <li class="breadcrumb-item active">
                            Add
                        </li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active">
                            Edit
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Sản phẩm</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="AddOrEdit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="UpdatedDate" />
                        <input type="hidden" asp-for="UpdatedBy" />
                        <input type="hidden" asp-for="Status" />
                        <input type="hidden" asp-for="IsDeleted" />
                        <input asp-for="Image" type="hidden" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <span class="text-danger">*</span>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Slug" class="control-label"></label>
                                        <input asp-for="Slug" class="form-control" />
                                        <span asp-validation-for="Slug" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Price" class="control-label"></label>
                                        <input asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Discount" class="control-label"></label>
                                        <input asp-for="Discount" class="form-control" />
                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Summary" class="control-label"></label>
                                        <textarea asp-for="Summary" class="form-control"></textarea>
                                        <span asp-validation-for="Summary" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Weight" class="control-label"></label>
                                        <input asp-for="Weight" class="form-control" />
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Unit" class="control-label"></label>
                                        <input asp-for="Unit" class="form-control" />
                                        <span asp-validation-for="Unit" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Quantity" class="control-label"></label>
                                        <input asp-for="Quantity" class="form-control" />
                                        <span asp-validation-for="Quantity" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CategoryId" class="control-label"></label>
                                        <span class="text-danger">*</span>
                                        <select asp-for="CategoryId" class="select2 form-control" id="CategorySelect" style="width: 100%;" />
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-footer mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a asp-action="Index" class="float-right btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="/Admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- Select2 -->
    <script src="/Admin/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="/Admin/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="/Admin/plugins/moment/moment.min.js"></script>
    <script src="/Admin/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="/Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="/Admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="/Admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="/Admin/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="/Admin/plugins/dropzone/min/dropzone.min.js"></script>
    <script>
        $(window).on('load', function () {
            $.ajax({
                type: 'GET',
                url: '/api/ACategory/GetAllCategories',
                dataType: 'json',
                success: function (categories) {
                    console.log(categories);
                    var select = $('.select2');
                    $.each(categories, function (i, category) {
                        let row = `<option value="${category.Id}">${category.Name}</option>`;
                        if (@Model.CategoryId == category.Id) {
                            row = `<option value="${category.Id}" selected>${category.Name}</option>`;
                        }
                        select.append(row);
                    });
                    select.select2()
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }


            });
        });
    </script>
}

