@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>CategoryBlog</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/">Home</a></li>
                    <li class="breadcrumb-item active">CategoryBlog</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">CategoryBlog List</h3>
                        <a class="btn btn-primary float-right" href="/Admin/CategoryBlog/AddOrEdit">Add CategoryBlog</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="align-middle">STT</th>
                                    <th class="align-middle">Name</th>
                                    <th class="align-middle">Slug</th>
                                    <th class="align-middle">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int stt = 1;
                                    foreach (var categoryBlog in Model)
                                    {
                                        <tr>
                                            <td class="align-middle">@stt</td>
                                            <td class="align-middle">@categoryBlog.Name</td>
                                            <td class="align-middle">@categoryBlog.Slug</td>
                                            <td class="align-middle">
                                                <a class="btn btn-secondary" href="/Admin/CategoryBlog/AddOrEdit?Id=@categoryBlog.Id">Edit</a> |
                                                <a class="btn btn-danger delete-btn" href="/Admin/CategoryBlog/Delete?Id=@categoryBlog.Id">Delete</a>
                                            </td>
                                        </tr>
                                        stt++;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
@section Scripts{
    <script src="/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/jszip/jszip.min.js"></script>
    <script src="/Admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //    "responsive": true,
            //});
        });

        $(document).ready(function () {
            var message = '@TempData["Message"]';
            if (message) {
                alert(message);
            }
        });
            $(document).ready(function () {
                $('.delete-btn').on('click', function (e) {
                    e.preventDefault();
                    const confirmation = confirm('Are you sure you want to delete this categoryBlog?');
                    if (confirmation) {
                        window.location.href = e.target.href;
                    }
                });
            });
    </script>
}